# SPDX-FileCopyrightText: 2024 Nikita Chernyi
# SPDX-FileCopyrightText: 2024 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "valkey_container_valkey_bind_port", "new": "valkey_container_http_host_bind_port" }

- name: Fail if required Valkey settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - valkey_identifier
    - valkey_uid
    - valkey_gid
    - valkey_arch

- name: Fail if Valkey architecture is not supported
  ansible.builtin.fail:
    msg: >-
      Your configuration specifies a CPU architecture (`{{ valkey_arch }}`) which is not currently supported.
      This Valkey role also does not support self-building yet, so it's not possible to make use of it.
  when: "valkey_arch not in ['amd64', 'arm64']"
