{#
SPDX-FileCopyrightText: 2024 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

#jinja2: lstrip_blocks: "True"
{% if valkey_connection_password %}
requirepass {{ valkey_connection_password }}
{% endif %}
